* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #0f1521;
    padding: 20px;
    overflow: overlay;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.header-banner {
    min-width: 400px;
    max-width: 35%;
}

.header-banner > img {
    width: 100%;
}

.header > h2 {
    padding: 20px;
    font-size: 2em;
}

.nav-buttons {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-buttons-intel > button {
    margin-top: 25px;
}

.nav-buttons > a {
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    font-size: 1.75em;
    border: 3px solid #fff;
    border-radius: 5px;
}

.nav-buttons > a:hover {
    background-color: #305474;
    cursor: pointer;
}

.main-form-container {
    margin: auto;
    padding: 20px;
    width: 66%;
    border: 3px solid #305474;
}

.form-cat {
    padding: 15px;
}

.card {
    margin-bottom: 20px;
    border: 2px solid #305474;
}

#card_0 a {
    display: none;
}

.card-header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-remove {
    padding: 5px;
    border: 1px solid #305474;
    font-size: 1.25em;
}

.number {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.number > input {
    margin: 0px 5px;
    width: 40px;
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.checkbox > label {
    margin-left: 5px;
}

h3 {
    margin: 5px;
    font-size: 1.5em;
}

h4 {
    margin: 25px 0px 15px 0px;
}

h5 {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 5px 20px;
}

li {
    padding-left: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

textarea,
input {
    margin-bottom: 15px;
    width: auto;
    resize: none;
    color: #000;
    font-size: 1em;
    border: none;
    outline: none;
}

.form-select {
    padding: 5px;
    display: flex;
}

.form-select > h4 {
    margin: 2px 2px 2px 30px;
}

#side-selector,
#side-selector > option {
    margin-left: 5px;
    width: 15%;
    color: #000;
}

.submit {
    display: flex;
    justify-content: center;
}

#submit-button,
#copy-button {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    background-color: #305474;
    font-size: 1.25em;
    border: none;
}

#submit-button:hover,
#copy-button:hover {
    background-color: #3c6991;
    cursor: pointer;
}

#output-field {
    margin-top: 15px;
    padding: 15px 35px;
    display: none;
    flex-direction: column;
}

#output-field > p {
    margin-bottom: 20px;
}

#output {
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
}

#copy-button {
    width: 150px;
    font-size: 1em;
}

#panel {
    margin: auto;
    display: none;
    padding-top: 25px;
}

code {
    padding: 2px;
    font-family: "Courier New", Courier, monospace;
    background-color: #305474;
}
