name: Build

on:
    push:
        branches:
            - master
        paths-ignore:
            - ".github/**"
            - "docs/**"
            - "mission_framework/core/main/script_version.hpp"
            - "tools/**"
            - ".editorconfig"
            - ".gitignore"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the source code
              uses: actions/checkout@master
              with:
                  ref: master
                  token: ${{ secrets.ACTION_TOKEN }}

            - name: Bump version
              id: bump-version
              run: python3 tools/version_bumper.py increment_build push_commit

            - name: Upload artifact
              uses: actions/upload-artifact@v2
              with:
                  name: MalFramework_v${{ steps.bump-version.outputs.VERSION }}
                  path: |
                      mission_framework/
                      cba_settings.sqf
                      description.ext
                      LICENSE
                      README.md

    draft-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the source code
              uses: actions/checkout@v2

            - name: Release Drafter
              uses: release-drafter/release-drafter@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
