name: Upload asset

on:
    push:
        branches:
            - release
        paths-ignore:
            - "VERSION"
            - "README.md"
            - ".github/**"

jobs:
    upload:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the source code
              uses: actions/checkout@v2

            - name: Release Drafter
              id: release_drafter
              uses: release-drafter/release-drafter@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Pack files
              uses: thedoctor0/zip-release@master
              with:
                  filename: "${{ steps.release_drafter.outputs.name }}.zip"
                  exclusions: "*.git* /tools/* .editorconfig .gitignore mission.sqm"

            - name: Upload release asset
              uses: actions/upload-release-asset@v1.0.1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.release_drafter.outputs.upload_url }}
                  asset_path: ./${{ steps.release_drafter.outputs.name }}.zip
                  asset_name: ${{ steps.release_drafter.outputs.name }}.zip
                  asset_content_type: application/zip
